.footer {
    background: url(/footer.webp) repeat;
    color: $dark;

    .overlay {
        background-color: rgba($light-brown, 0.7);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }

    a {
        color: $dark;
        transition: color 0.3s;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: $light-gray;
        }
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;

        @media (max-width: 768px) {
            gap: 1rem;

            a {
                margin: 1rem 0;
            }
        }
    }
}
