.hero {
    height: 45vh;
    min-height: 400px;
    background: url('/hero.jpg') no-repeat bottom center/cover;
    text-align: center;
    color: $dark;

    .overlay {
        background-color: rgba($color: $primary, $alpha: 0.75);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        padding-bottom: 1rem;
    }

    .hero-subtitle {
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
    }
}
