@mixin hero() {
    min-height: 30vh;
    background-size: cover;
    background-position: center;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-text {
        color: $light;
        width: 60%;
        position: relative;
    }
}

@mixin gradient() {
    background: linear-gradient(145deg, darken($dark-blue, 5%), $dark-blue 20%, lighten($dark-blue, 20%));
}
