$dark-blue: #32465c;
$blue: #97c9ff;
$light-blue: #a4bfdb;

$dark-gray: #292e34;
$gray: #3e464f;
$light-gray: #7c8b9c;
$lighest-gray: #c5ddf9;

$dark-brown: #332714;
$brown: #867860;
$light-brown: #dbc7a4;
$lightest-brown: #eadec9;

$black: #06080a;

$primary: $light-blue;
$dark: $dark-gray;
$light: #eee;

$navbar-height: 80px;
