.about {
    .title {
        background-color: $dark-blue;
    }

    h3 {
        font-family: 'Nunito', sans-serif;
        margin-top: 2rem;
    }

    p {
        margin: 1rem 0;
        font-size: 1.1rem;
        line-height: 1.8;
    }

    .contact {
        background-color: $primary;
        color: $dark;
        border-radius: 0.5rem;
        padding: 4rem 2rem;

        h3 {
            margin: 0;
            text-align: center;
        }

        button {
            width: fit-content;
            margin: 0 auto;
        }

        form {
            border-right: 1px solid $dark-blue;

            @media (max-width: 992px) {
                border-right: none;
                border-bottom: 1px solid $dark-blue;
                padding-bottom: 3rem;
            }
        }

        .form {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        .info {
            border-left: 1px solid $dark-blue;

            @media (max-width: 992px) {
                border-left: none;
                border-top: 1px solid $dark-blue;
                padding-top: 3rem;
            }

            a {
                color: $dark;
                text-decoration: none;
                display: flex;
                transition: color 0.3s;

                &:hover {
                    color: lighten($dark, 30%);
                }
            }

            .content {
                margin: 2rem auto 2.5rem;
                width: 70%;
            }

            .lead {
                text-align: center;
                margin: 0.5rem;
            }

            .end {
                border-top: 1px solid $dark;
                border-bottom: 1px solid $dark;
                padding: 0.8rem 0.5rem;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }

    .image {
        width: fit-content;

        margin: 0 auto;
        padding: 20px;

        @media (min-width: 576px) {
            padding: 40px;
            float: right;
        }

        img {
            height: 240px;
            width: 240px;
            border-radius: 50%;
            object-fit: cover;
            // border: 10px groove $light;

            @media (min-width: 768px) {
                height: 350px;
                width: 350px;
            }
        }

        .img-border {
            position: relative;
            padding: 30px;
            height: 300px;

            &::after {
                content: '';
                border-radius: 999px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: conic-gradient(from 30deg, $blue, $light 50%, transparent 50%);
                -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 3px), #fff calc(100% - 3px + 1px));
                mask: radial-gradient(farthest-side, transparent calc(100% - 3px), #fff calc(100% - 3px + 1px));
            }

            @media (min-width: 768px) {
                height: 410px;
            }
        }
    }
}
