.case-study {
    .tab {
        padding: 1.5rem;

        .lead {
            padding: 1rem 0;
        }

        .btn {
            padding: 0.5rem 3rem;
        }
    }

    button {
        text-transform: none;
        font-family: 'Nunito', sans-serif;
    }
}
