.home {
    .qualities {
        .title {
            background-color: $dark-blue;
        }

        .subtitle {
            font-size: 1.4rem;
            text-align: center;
            color: $primary;
            width: fit-content;
            margin: 0 auto;
            padding: 1rem 2rem;
            border-left: 2px solid $primary;
            border-right: 2px solid $primary;
        }
    }

    &-section {
        position: relative;
        padding: 1rem 0;
    }

    &-content {
        padding: 1rem 2.5rem;
        margin-top: 0;

        p {
            font-size: 0.8rem;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: 6.5rem;
        }
    }

    &-pic {
        max-width: 100%;
        margin: 3rem;
    }

    &-card {
        @include media-breakpoint-down(md) {
            background-color: rgba(black, 0.15);
            padding: 0 1rem;
            border-radius: 0.625rem;
            margin: 2rem 0;
        }
    }

    .work {
        background-color: $dark-blue;
        @include card-styles($primary);

        .title {
            background-color: $light-gray;
        }
    }
}
